# This is a style map for coloring the neurons and assigning shaders to them using their tags.
# Each row is a tag with a color and a material style 
# Colors are in R G B A
# Materials 
# Use ['lambert']
# Use ['electron-light']
# Use ['electron-dark']
# Use ['super-electron-light']
# Use ['super-electron-dark']
# Use ['shadow']
# Use ['sub-surface-scattering']
# Use ['flat']

1 0.0 0.0 0.0 1.0 flat
2 0.2 0.2 0.2 1.0 flat
3 0.4 0.4 0.4 1.0 flat
4 0.6 0.6 0.6 1.0 flat
5 0.8 0.8 0.8 1.0 flat
6 0.9 0.9 0.9 1.0 flat
